<!DOCTYPE html>
<html>

<head>
    <script src="../lib/jquery-3.4.1.js"></script>
    <script src="../lib/vue-2.6.10.js"></script>
    <script src="option.js"></script>
    <title>
        选项
    </title>
    <link rel="stylesheet" type="text/css" href="vendors.min.css" />
    <link rel="stylesheet" type="text/css" href="options.min.css" />
</head>

<body>
    <div class="row" id="filter">
        <header class="text-center">
            <img class="title_icon" src="../icons/seed256.png" alt="Logo">
        </header>
        <div class="left_menu">
            <ul>
                <li v-on:click="show_filter" class="dd-item">
                    <span>筛选</span>
                </li>
                <li v-on:click="show_general" class="dd-item">
                    <span>通用</span>
                </li>
            </ul>
        </div>
        <div class="right_content" v-if="filter_visible">
            <form class="form-horizontal options-form ng-pristine ng-valid ng-valid-min ng-valid-max">
                <div class="col-lg-12">
                    <div class="well options-b">
                        <div class="lead text-muted text-center">
                            Filter
                        </div>
                        最后的筛选条件为所有条件的交集，也就是条件1&&条件2&&...&&条件n
                    </div>
                </div>
            </form>

            <form class="form-horizontal options-form ng-pristine ng-valid ng-valid-min ng-valid-max">
                <div class="col-md-4">
                    <div class="well options-b">
                        <div class="lead text-muted">
                            <div class="checkbox">
                                <label>
                                    <input id="vxb" class="ng-pristine ng-untouched ng-valid ng-empty bigcheckbox"
                                        type="checkbox" v-model="config.seedpdl.enable" v-on:change="saveconfig">
                                    &nbsp;&nbsp;使用种子/下载者比
                                </label>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <div class="radio col-sm-12">
                                下载者数是种子的几倍？
                            </div>
                            <div class="col-sm-7">
                            </div>
                            <div class="radio col-sm-5">
                                <input type="number" min="0" max="9999"
                                    class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-min ng-valid-max text-right"
                                    v-model.number="config.seedpdl.ratio" v-on:change="saveconfig"
                                    :disabled="!config.seedpdl.enable">
                            </div>
                            <div class="radio col-sm-12">
                                如想精确定义种子数和下载者数，可以关闭此选项。
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="well options-b">
                        <div class="lead text-muted">
                            <div class="checkbox">
                                <label>
                                    <input id="ggt" class="ng-pristine ng-untouched ng-valid ng-empty bigcheckbox"
                                        type="checkbox" v-model="config.cdseed.enable" v-on:change="saveconfig"
                                        :disabled="config.seedpdl.enable">
                                    &nbsp;&nbsp;种子数
                                </label>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <div class="radio col-sm-7">
                                <label>
                                    <input class="ng-pristine ng-untouched ng-valid ng-empty" type="radio" value=1
                                        v-model.number="config.cdseed.choose" v-on:change="saveconfig"
                                        :disabled="config.seedpdl.enable||!config.cdseed.enable">
                                    小于
                                </label>
                            </div>
                            <div class="col-sm-5">
                                <input type="number" min="0" max="9999"
                                    class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-min ng-valid-max text-right"
                                    v-model.number="config.cdseed.nolt" v-on:change="saveconfig"
                                    :disabled="config.seedpdl.enable||!config.cdseed.enable||config.cdseed.choose != 1">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="radio col-sm-7">
                                <label>
                                    <input class="ng-pristine ng-untouched ng-valid ng-empty" type="radio" value=0
                                        v-model.number="config.cdseed.choose" v-on:change="saveconfig"
                                        :disabled="config.seedpdl.enable||!config.cdseed.enable">
                                    等于
                                </label>
                            </div>
                            <div class="col-sm-5">
                                <input type="number" min="0" max="9999"
                                    class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-min ng-valid-max text-right"
                                    v-model.number="config.cdseed.noeq" v-on:change="saveconfig"
                                    :disabled="config.seedpdl.enable||!config.cdseed.enable||config.cdseed.choose!=0">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="radio col-sm-7">
                                <label>
                                    <input class="ng-pristine ng-untouched ng-valid ng-empty" type="radio" value=2
                                        v-model.number="config.cdseed.choose" v-on:change="saveconfig"
                                        :disabled="config.seedpdl.enable||!config.cdseed.enable">
                                    大于
                                </label>
                            </div>
                            <div class="col-sm-5">
                                <input type="number" min="0" max="9999"
                                    class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-min ng-valid-max text-right"
                                    v-model.number="config.cdseed.nogt" v-on:change="saveconfig"
                                    :disabled="config.seedpdl.enable||!config.cdseed.enable||config.cdseed.choose!=2">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="well options-b">
                        <div class="lead text-muted">
                            <div class="checkbox">
                                <label>
                                    <input id="dls" class="ng-pristine ng-untouched ng-valid ng-empty bigcheckbox"
                                        type="checkbox" v-model="config.cddl.enable" v-on:change="saveconfig"
                                        :disabled="config.seedpdl.enable">
                                    &nbsp;&nbsp;下载者数
                                </label>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <div class="radio col-sm-7">
                                <label>
                                    <input class="ng-pristine ng-untouched ng-valid ng-empty" type="radio" value=1
                                        v-model.number="config.cddl.choose" v-on:change="saveconfig"
                                        :disabled="config.seedpdl.enable||!config.cddl.enable">
                                    小于
                                </label>
                            </div>
                            <div class="col-sm-5">
                                <input type="number" min="0" max="9999"
                                    class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-min ng-valid-max text-right"
                                    v-model.number="config.cddl.nolt" v-on:change="saveconfig"
                                    :disabled="config.seedpdl.enable||!config.cddl.enable||config.cddl.choose!=1">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="radio col-sm-7">
                                <label>
                                    <input class="ng-pristine ng-untouched ng-valid ng-empty" type="radio" value=0
                                        v-model.number="config.cddl.choose" v-on:change="saveconfig"
                                        :disabled="config.seedpdl.enable||!config.cddl.enable">
                                    等于
                                </label>
                            </div>
                            <div class="col-sm-5">
                                <input type="number" min="0" max="9999"
                                    class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-min ng-valid-max text-right"
                                    v-model.number="config.cddl.noeq" v-on:change="saveconfig"
                                    :disabled="config.seedpdl.enable||!config.cddl.enable||config.cddl.choose!=0">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="radio col-sm-7">
                                <label>
                                    <input class="ng-pristine ng-untouched ng-valid ng-empty" type="radio" value=2
                                        v-model.number="config.cddl.choose" v-on:change="saveconfig"
                                        :disabled="config.seedpdl.enable||!config.cddl.enable">
                                    大于
                                </label>
                            </div>
                            <div class="col-sm-5">
                                <input type="number" min="0" max="9999"
                                    class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-min ng-valid-max text-right"
                                    v-model.number="config.cddl.nogt" v-on:change="saveconfig"
                                    :disabled="config.seedpdl.enable||!config.cddl.enable||config.cddl.choose!=2">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form class="form-horizontal options-form ng-pristine ng-valid ng-valid-min ng-valid-max">
                <div class="col-md-8">
                    <div class="well options-b">
                        <div class="lead text-muted">
                            <div class="checkbox">
                                <label>
                                    <input id="dls" class="ng-pristine ng-untouched ng-valid ng-empty bigcheckbox"
                                        type="checkbox" v-model="config.elapsedtime.enable" v-on:change="saveconfig">
                                    &nbsp;&nbsp;发布时间小于等于
                                </label>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-2">
                                <label class="text-right">
                                    <input type="number" min="0" max="9999"
                                        class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-min ng-valid-max text-right"
                                        v-model.number="config.elapsedtime.year" v-on:change="saveconfig"
                                        :disabled="!config.elapsedtime.enable">
                                    年
                                </label>
                            </div>
                            <div class="col-sm-2">
                                <label class="text-right">
                                    <input type="number" min="0" max="9999"
                                        class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-min ng-valid-max text-right"
                                        v-model.number="config.elapsedtime.month" v-on:change="saveconfig"
                                        :disabled="!config.elapsedtime.enable">
                                    月
                                </label>
                            </div>
                            <div class="col-sm-2">
                                <label class="text-right">
                                    <input type="number" min="0" max="9999"
                                        class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-min ng-valid-max text-right"
                                        v-model.number="config.elapsedtime.day" v-on:change="saveconfig"
                                        :disabled="!config.elapsedtime.enable">
                                    日
                                </label>
                            </div>
                            <div class="col-sm-2">
                                <label class="text-right">
                                    <input type="number" min="0" max="9999"
                                        class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-min ng-valid-max text-right"
                                        v-model.number="config.elapsedtime.hour" v-on:change="saveconfig"
                                        :disabled="!config.elapsedtime.enable">
                                    时
                                </label>
                            </div>
                            <div class="col-sm-2">
                                <label class="text-right">
                                    <input type="number" min="0" max="9999"
                                        class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-min ng-valid-max text-right"
                                        v-model.number="config.elapsedtime.minute" v-on:change="saveconfig"
                                        :disabled="!config.elapsedtime.enable">
                                    分
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="well options-b">
                        <div class="lead text-muted">
                            <div class="checkbox">
                                <label>
                                    <input id="dls" class="ng-pristine ng-untouched ng-valid ng-empty bigcheckbox"
                                        type="checkbox" v-model="config.freetime.enable" v-on:change="saveconfig">
                                    &nbsp;&nbsp;免费时间大于等于
                                </label>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <div class="col-sm-4">
                            </div>
                            <div class="col-sm-4">
                                <label class="text-right">
                                    <input type="number" min="0" max="9999"
                                        class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-min ng-valid-max text-right"
                                        v-model.number="config.freetime.day" v-on:change="saveconfig"
                                        :disabled="!config.freetime.enable">
                                    天
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="text-right">
                                    <input type="number" min="0" max="9999"
                                        class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-min ng-valid-max text-right"
                                        v-model.number="config.freetime.hour" v-on:change="saveconfig"
                                        :disabled="!config.freetime.enable">
                                    时
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form class="form-horizontal options-form ng-pristine ng-valid ng-valid-min ng-valid-max">
                <div class="col-lg-7">
                    <div class="well options-b">
                        <div class="lead text-muted">
                            <div class="checkbox">
                                <label>
                                    <input id="vxb" class="ng-pristine ng-untouched ng-valid ng-empty bigcheckbox"
                                        type="checkbox" v-model="config.cdavgprg.enable" v-on:change="saveconfig">
                                    &nbsp;&nbsp;完成度小于等于
                                </label>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <div class="col-sm-9">
                            </div>
                            <label class="col-sm-3 text-right">
                                百分之
                                <input type="number" min="0" max="9999"
                                    class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-min ng-valid-max text-right"
                                    v-model.number="config.cdavgprg.pg" v-on:change="saveconfig"
                                    :disabled="!config.cdavgprg.enable">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="well options-b">
                        <div class="lead text-muted">
                            <div class="checkbox">
                                <label>
                                    <input id="dbbls" class="ng-pristine ng-untouched ng-valid ng-empty bigcheckbox"
                                        type="checkbox" v-model="config.cdsize.enable" v-on:change="saveconfig">
                                    &nbsp;&nbsp;种子大小(GB)
                                </label>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <div class="radio col-sm-7">
                                <label>
                                    <input class="ng-pristine ng-untouched ng-valid ng-empty" type="radio" value=0
                                        v-model.number="config.cdsize.choose" v-on:change="saveconfig"
                                        :disabled="!config.cdsize.enable">
                                    小于等于
                                </label>
                            </div>
                            <div class="col-sm-5">
                                <input type="number" min="0" max="9999"
                                    class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-min ng-valid-max text-right"
                                    v-model.number="config.cdsize.nolt" v-on:change="saveconfig"
                                    :disabled="!config.cdsize.enable||config.cdsize.choose!=0">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="radio col-sm-7">
                                <label>
                                    <input class="ng-pristine ng-untouched ng-valid ng-empty" type="radio" value=1
                                        v-model.number="config.cdsize.choose" v-on:change="saveconfig"
                                        :disabled="!config.cdsize.enable">
                                    大于等于
                                </label>
                            </div>
                            <div class="col-sm-5">
                                <input type="number" min="0" max="9999"
                                    class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-min ng-valid-max text-right"
                                    v-model.number="config.cdsize.nogt" v-on:change="saveconfig"
                                    :disabled="!config.cdsize.enable||config.cdsize.choose!=1">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="right_content" v-if="general_visible">
            <form class="form-horizontal options-form ng-pristine ng-valid ng-valid-min ng-valid-max">
                <div class="col-lg-12">
                    <div class="well options-b">
                        <div class="lead text-muted text-center">
                            通用
                        </div>
                    </div>
                </div>
            </form>
            <form class="form-horizontal options-form ng-pristine ng-valid ng-valid-min ng-valid-max">
                <div class="col-md-3">
                    <div class="well options-b">
                        <div class="lead text-muted">
                            <div class="checkbox">
                                <label>
                                    检测间隔（分钟）
                                </label>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <div class="radio col-sm-7"></div>
                            <div class="radio col-sm-5">
                                <input type="number" min="0" max="9999"
                                    class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-min ng-valid-max text-right"
                                    v-model.number="config.cmcheckloop" v-on:change="checkAlarmUpdate">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>